<div class="container-app">

  <p class="title">Pokemons</p>

  <div class="container-list-pokemons">

    <p
      class="name-pokemon"
      *ngFor="let pokemon of pokemons"
      (click)="getDetailPokemon(pokemon.url)"
    >{{pokemon.name}}</p>

  </div>

  <div class="container-pokemon-detail" *ngIf="currentPokemon != null && currentPokemon.height > 0">
    <app-card-pokemon
      [height]="currentPokemon.height"
      [sprites]="currentPokemon.sprites">
    </app-card-pokemon>
  </div>

</div>